[Unit]
Description=Gym reservation bot
After=network-online.target

[Service]
Type=oneshot
User=owili
WorkingDirectory=/home/owili/Desktop/Applications
Environment="PATH=/home/owili/Desktop/Applications/Gym_Reservation_Bot"
ExecStart=/home/owili/Desktop/Applications/Gym_Reservation_Bot/bot.py
StandardOutput=journal
StandardError=journal